{% load compress %}

{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}vendor/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}vendor/fonts/font-awesome.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}vendor/animate/animate.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}vendor/mmenu/css/jquery.mmenu.all.css" media="all" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}vendor/videobackground/css/jquery.videobackground.css">
<link rel="stylesheet" href="{{ STATIC_URL }}vendor/bootstrap/bootstrap-checkbox.css">
<link rel="stylesheet" href="{{ STATIC_URL }}vendor/bootstrap/bootstrap-dropdown-multilevel.css">
<link rel="stylesheet" href="{{ STATIC_URL }}vendor/rickshaw/css/rickshaw.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}vendor/morris/css/morris.css">
<link rel="stylesheet" href="{{ STATIC_URL }}vendor/tabdrop/css/tabdrop.css">
<link rel="stylesheet" href="{{ STATIC_URL }}vendor/summernote/css/summernote.css">
<link rel="stylesheet" href="{{ STATIC_URL }}vendor/summernote/css/summernote-bs3.css">
<link rel="stylesheet" href="{{ STATIC_URL }}vendor/chosen/css/chosen.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}vendor/chosen/css/chosen-bootstrap.css">
{% endcompress %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/mkt.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/iconfont.css">
<link rel="shortcut icon" href="{{ STATIC_URL }}dashboard/img/favicon.ico"/>
