<!-- Wrap all page content here -->
<div id="wrap">
  <!-- Make page fluid -->
  <div class="row">
    <!-- Page content -->
    <div id="content" class="col-md-12 full-page login">
    	{% block modal-header %}
    	<div class="navbar navbar-default navbar-fixed-top navbar-transparent-black mm-fixed-top">
    		<div class="col-md-2">
						<a class="navbar-brand" href="/">
							<img src="{{ STATIC_URL }}dashboard/img/logo.png">
						</a>
					</div>
    	</div>
    	{% endblock %}
      <div class="inside-block">
      	{% block modal-name %}
        <h1>佳云</h1>
        <h5>欢迎来到 MKT Cloud</h5>
        {% endblock %}
        <form id="{% block form_id %}form-signin{% endblock %}" autocomplete="{% block autocomplete %}{% endblock %}" class="{% block form_class %}form-signin{% endblock %}" action="{% block form_action %}{% endblock %}" method="{% block form-method %}POST{% endblock %}" {% if add_to_field %}data-add-to-field="{{ add_to_field }}"{% endif %} {% block form_attrs %}{% endblock %}>
        	{% csrf_token %}
        	{% block modal-body %}
          <section>
          	{% include "horizon/common/_login_fields.html" %}
          </section>
			    {% endblock %}
          {% block modal-footer %}{% endblock %}
        </form>
      </div>
    </div>
    <!-- /Page content -->  
  </div>
</div>
<!-- Wrap all page content end -->
